.qty-pad{
    width: 80px;
    float: left;
    margin: 0 2px 5px 2px;
}

#menuStep3{
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}
#closeStep3:active{
    background-color:#00573f
}
#menuStep4{
    background-color: #000;
    color: #fff;
    border: 0px solid;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    width: 0px;
    justify-content: center;
    padding-top: 50px;
}