.selected-spice{
	background: #ff0000;
}
.selected-qty{
    background: #11c9e7!important;
}
.selected-qty > .txt{
    color: #fff !important
}
.bar-wrapper {
    height: 90px;
    float: left;
    padding: 7px 0px 7px 7px;
    width: 300px;
    border: 5px solid #fbff00;
    position: relative;
}
.spicelevel {
    height: 90%;
    width: 18%;
    float: left;
    margin: 2px;
    border: 5px solid #ff0000;
    cursor: pointer;
}