.selected-spice{
	background: #800000;
}
.selected-qty{
    background: #11c9e7!important;
}
.selected-qty > .txt{
    color: #fff !important
}
.bar-wrapper {
    height: 110px;
    float: left;
    padding: 7px 0px 7px 7px;
    width: 80%;
    border: 3px solid #fbff00;
    position: relative;
}
.spicelevel {
    height: 90%;
    width: 18%;
    float: left;
    margin: 4px;
    border: 3px solid #ff0000;
    cursor: pointer;
}